<h1 class="mb-3"><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.capitalize %></p>

<p><% @restaurant.reviews.each do |review| %>
  <p> <%= review.content  %> <%= '⭐️' * review.rating %></p>
  <% end %> </p>

<%= link_to restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' do %>
  <i class="far fa-trash-alt"></i> Delete
<% end %>

<%= link_to "See all restaurants", restaurants_path, class: 'btn btn-success' %>

<%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>

